.mycontainer {
	padding-left: 0;
	padding-right: 0;
}

.mynavbar {
	background-color: white !important;
	padding:40px 40px 40px 60px;
	border-bottom-color: #F0F0F0;
}

.navbar-brand {
	height:27px;
	width:108px;
	background:url('images/brand2.png') no-repeat;
	background-position:center;
	background-size:contain;
}

.main-panel {
	height:331px;
	width:630px;
	background:url('images/main_bg.png') no-repeat;
	background-position:center;
	background-size:contain;
}

.temp {
	display:inline-block;
}

.scenarion-panel {
	height:100px;
	width:200px;
	background-color:#F7F7F7;
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px; 
	border-radius: 20px;
	display:inline-block;
}

.scenarion-panel:hover {
	background-color:#FFFFFF;
}

.device-panel {
	height:100px;
	width:200px;
	background-color:#F7F7F7;
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px;
	border-radius: 20px;
}