body {
	font-family: Arial-BoldMT;
}

.mycontainer {
	padding-left: 0;
	padding-right: 0;
}

.mynavbar {
	background-color: white !important;
	padding:40px 40px 40px 60px;
	border-bottom-color: #F0F0F0;
}

.navbar-brand {
	height:27px;
	width:108px;
	background:url('images/brand2.png') no-repeat;
	background-position:center;
	background-size:contain;
}

.nav.navbar-nav>li>a {
	font-size: 16px;
	color: #333333;
	line-height: 20px;
}

.content {
	padding:0 40px 0 40px;
}

.row {
	margin:0;
}

.inner-header {
	margin: 0;
}

.main {
	padding:0;
}

.main-panel {
	height:331px;
	width:630px;
	background:url('images/main_bg.png') no-repeat;
	background-position:center;
	background-size:contain;
	padding: 26px 0 20px 25px;
}

.temp {
	display:inline-block;
}

.favscenarios {
	max-height:300px;
}

.scenarios-panel {
	height:100px;
	width:200px;
	background-color:#F7F7F7;
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px; 
	border-radius: 20px;
	display:inline-block;
}

.scenarios-panel:hover {
	background-color:#FFFFFF;
	box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
	cursor:pointer;
}

.devices {
	white-space: nowrap;	
	overflow-x:auto;
}

.device-panel {
	height:100px;
	width:200px;
	background-color:#F7F7F7;
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px;
	border-radius: 20px;
	display:inline-block;
}