@font-face {
	font-family: Arial-BoldMT;
	src: local('Arial-BoldMT.ttf'), url(fonts/Arial-BoldMT.ttf);
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: ArialMT;
	src: local('ArialMT.ttf'), url(fonts/ArialMT.ttf);
	font-weight: normal;
    font-style: normal;
}

body {
	font-family: Arial-BoldMT;
	margin:0;
}

a, a:hover {
	text-decoration: none;
}

.blurred {
	filter:blur(5px);
}

.blur {
	top:0;
	bottom:0;
	height:2500px;
	width:100%;
	position:absolute;
	background: rgba(51,51,51,0.50);
	z-index:2000;
}

.hidden {
	display:none;
}

.home-navbar{
	z-index:1000;
	display: -webkit-flex; 
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	height:92px;
	position:fixed;
	top:0;
	margin: 0;
	padding: 32px 0 33px 40px;
	background-color: white;
	vertical-align:center;
    border-bottom-style: solid;
	border-bottom-color: #F0F0F0;
	border-bottom-width: 1px;
	width:100%;
}

.home-navbar-header {
	height:27px;
	width:108px;
	margin-right:52px;
}

.home-navbar-brand {
	margin-top:8px;
	height:27px;
	width:108px;
	background-position:left;
	background-size:contain;
}

.home-navbar-menu {
	display: -webkit-flex; 
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top:5px;
}

.home-nav-btn {
	font-size: 16px;
	color: #333333 !important;
	line-height: 20px !important;
	opacity:0.6 !important;
	margin:0;
	padding-right:0 !important;
	padding-left:0 !important;
	margin-right:26px;
}

.active {
	opacity: 1 !important;
	margin-right:28px;
}

.content {
	padding:30px 0px 0 40px;
	margin-top:92px;
	position:relative;
}

.myrow{
	margin:0;
}

.firstrow {
	display: -webkit-flex; 
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.inner-header {
	margin: 0 0 0px 0;
	display:inline;
	font-size: 18px;
	color: #333333;
}

.main {
	padding:0;
}

.greeting{
	font-size: 27px;
	color: #333333;
	margin-top:6px;
}

.general-info {
	font-family: Arial;
	font-size: 14px;
	color: #333333;
}

.main-panel {
	height:331px;
	width:630px;
	background:url('images/main_bg.png') no-repeat;
	background-position:center;
	background-size:contain;
	padding: 26px 5px 0 25px;
	margin-top:20px;
}

.main-data {
	display: -webkit-flex; 
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.common-data {
	position:relative;
}

.temp {
	display:inline-block;
}

.drizzle {
	display:inline-block;
	min-width: 26px;
	min-height:26px;
	background:url('images/drizzle.png') no-repeat;
	background-position:left;
	background-size:contain;
}

.where {
	font-family: Arial;
	font-size: 14px;
	color: #858585;
	margin:0;
}

.tempval {
	font-size: 36px;
	color: #333333;
	letter-spacing: 0;
	text-align: left;
	margin-right:18px;
	white-space:nowrap;
}

.device-block {
	display: -webkit-flex; 
	-webkit-flex-direction: column;
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	height:305px;
}

.uparrow {
	position: absolute;
	top: 372px;
    left: 540px;
	cursor:pointer;
}

.favscenarios {
	overflow-y:hidden;
	margin-left:26px;
	max-height:371px;
}

.scenarios {
	max-height:350px;
}

.arrows {
	display:inline;
	float:right;
	margin-right:16px;
	padding:0;
	opacity:0.3;
	cursor:pointer;
}

.active-arrow {
	opacity:1;
}

.hiddenByScroll {
    animation: driveaway 0.2s linear;
}

@keyframes driveaway {
    0% { 
		opacity: 1;
		margin-left:0;
		margin-top:0;
	}
    100% { 
		opacity: 0.1;
		margin-left:-200px;
		margin-top:-200px;
	}
}

.shownByScroll {
    animation: drivein 0.2s linear;
}

@keyframes drivein {
    0% { 
		opacity: 0.1;
		margin-left:-200px;
		margin-top:-200px;
	}
	
    100% { 
		opacity: 1;
		margin-left:0;
		margin-top:0;
	}
}

.scenarios-header {
	padding-right:50px;
}

.scenarios {
	display: -webkit-flex;
    -webkit-flex-wrap: wrap; 
	display:flex;
	flex-wrap: wrap;
	overflow-x: hidden;
	overflow-y: hidden;
	max-height:350px;
	margin-top:20px;
}

.scenarios-panel {
	height:100px;
	width:200px;
	min-width:200px;
	background-color:#F7F7F7;
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px; 
	border-radius: 20px;
	display: -webkit-flex; 
	-webkit-flex-direction: column;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 14px 0 14px 15px;
	margin-right:15px;
	margin-bottom:15px;
}

.tempicon {
	min-width: 24px;
	min-height:24px;
	background:url('images/tempoff.png') no-repeat;
	background-position:left;
	background-size:contain;
}

.tempicon.popupIcon {
	min-width: 48px;
	min-height:48px;
	background:url('images/tempoff2.png') no-repeat;
}

.tempicon.activescenario {
	background:url('images/tempon.png') no-repeat;
	background-position:left;
	background-size:contain;
}

.tempicon.popupIcon.activescenario{
	background:url('images/tempon2.png') no-repeat;
}

.lighticon {
	min-width: 24px;
	min-height:24px;
	background:url('images/lightoff.png') no-repeat;
	background-position:left;
	background-size:contain;
}

.lighticon.popupIcon {
	min-width: 48px;
	min-height:48px;
	background:url('images/lightoff2.png') no-repeat;
}

.lighticon.activescenario {
	background:url('images/lighton.png') no-repeat;
	background-position:left;
	background-size:contain;
}

.lighticon.popupIcon.activescenario {
	background:url('images/lighton2.png') no-repeat;
}

.clockicon{
	min-width: 24px;
	min-height:24px;
	background:url('images/clockoff.png') no-repeat;
	background-position:left;
	background-size:contain;
}

.clockicon.activescenario {
	background:url('images/clockon.png') no-repeat;
	background-position:left;
	background-size:contain;
}

.scenario-content {
	margin-top:10px;
	line-height: 20px;
}

.scenario-name{
	font-size: 14px;
	color: #333333;
	letter-spacing: 0;
	text-align: left;
	margin:0;
}

.scenario-state {
	font-family: Arial;
	font-size: 12px;
	color: #858585;
	letter-spacing: 0;
	text-align: left;
}

.scenarios-panel:hover {
	background-color:#FFFFFF;
	-moz-border-radius: 0 2px 6px 0 rgba(197,186,186,0.50); 
	-webkit-border-radius: 0 2px 6px 0 rgba(197,186,186,0.50); 
	box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
	cursor:pointer;
}

.devices-header {
	margin-top:34px;
	margin-right:50px;
	margin-bottom:25px;
}

.deviceheader {
	margin-right:13px;
	height:30px;
}

.devicelinkPanel {
	display:inline-block;
	position:relative;
}

.devicelinkToggler {
	display: -webkit-flex; 
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


.downicon {
	display:none;
}

.chosenDeviceLink {
	height:30px;
	background: #FFD93E;
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px; 
	border-radius: 20px;
	padding:7px 11px 8px 15px;
}

.hiddenDevicelink {
	height:30px;
	background: #F7F7F7;
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px; 
	border-radius: 20px;
	padding:7px 11px 8px 15px;
}

.devicelink {
	display:inline-block;
	min-height:30px;
	text-align: center;
	margin-right:15px;
	padding:5px;
	min-width: 50px;
	height:30px;
	cursor:pointer;
}

.devicecategory {
	font-family: Arial-BoldMT;
	font-size: 13px;
	color: #000000;
}
.devices {	
    display: -webkit-flex;
    -webkit-flex-wrap: nowrap; 
	display:flex;
	flex-wrap: nowrap;
	overflow-x: hidden;
	overflow-y:hidden;
	max-height:350px;
}

.device-panel, .poppedup-device-panel {
	width:200px;
	min-width:200px;
	min-height:120px;
	background-color:#F7F7F7;
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px; 
	border-radius: 20px;
	margin-right:15px;
	margin-bottom:15px;
	cursor:pointer;
}

.smallview {
	min-height:120px;
	display: -webkit-flex; 
	-webkit-flex-direction: column;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 14px 0 14px 15px;
}

.popup-device-panel {
	position:absolute;
	top:0;
	left:30%;
	width:630px;
	margin-top:100px;
	z-index:2500;
	background-color:#FFFFFF; 
}

.openAnimation {
	position:fixed;
	background-color:#FFFFFF; 
    animation: openWide 0.1s linear;
}

@keyframes openWide {
    0% { 
		width:200px;
		height:120px;
	}
    100% { 
		width:630px;
		height:400px;
	}
}
.popupview {
	padding: 26px 25px 25px 25px;
}

.popupHeader {
	font-size: 27px;
	color: #333333;
}

.popupState {
	font-family: ArialMT;
	margin-top:6px;
	font-size: 14px;
	color: #333333;
}

.popupTempValue {
	position:absolute;
	right:68px;
	top:26px;
	font-size: 36px;
	color: #333333;
	letter-spacing: 0;
	text-align: left;
}

.popupIcon {
	min-width:35px;
	min-height:35px;
	position:absolute;
	right:25px;
	top:25px;
}

.popupButtonPanel {
	margin-top:20px;
	height:30px;
}

.popupButton {
	font-family: Arial-BoldMT;
	font-size: 13px;
	color: #000000;
	text-align: left;
	margin-right: 35px;
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px; 
	border-radius: 20px;
	background-color:#F2F1F0;   
	padding: 7px 11px 8px 15px;
}

.activeButton {
	background-color:#FFD93E;
}

.popupSlider {
	margin-top: 25px;
	-moz-border-radius: 30px; 
	-webkit-border-radius: 30px; 
	border-radius: 30px;
	width:580px;
	height:60px;
}


.popup-oval{
	margin-top: 20px;
	margin-left:182px;
	position:relative;
	width:221px;
	height:221px;
}

.oval-el  {
	position:absolute;
}

.main-oval {
	width:221px;
	height:221px;
	background:url('images/oval.png') no-repeat;
	background-position:left;
	background-size:contain
}

.arrow-in-oval {
	top: 125px;
    right: 33px;
	border: 5px solid transparent; 
	border-right: 5px solid  #333333;
	border-bottom: 5px solid  #333333; 
	transform: rotate(-30deg);
}

.rest-oval {
	width:65px;
	height:77px;
	background:url('images/oval-black.png') no-repeat;
	background-position:left;
	background-size:contain;
	bottom:12.7px;
	right:1.9px;
}

.background-oval {
	width:178px;
	height:178px;
	top:22px;
	right:22px;
	background:url('images/oval-bg.png') no-repeat;
	background-position:left;
	background-size:contain
}

.temp-in-oval {
	font-size: 66px;
	color: #333333;
	letter-spacing: 0;
	text-align: left;
	top:63px;
	left:56px;
}

.tempSlider {
	background: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
	position:relative;
}

.lightSlider {
	background: linear-gradient(-85deg, #FFE682 2%, #FF9E00 98%);
	position:relative;
}

.tempSliderMinValue, .lightSliderMinValue{
	position:absolute;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: left;
	left:20px;
	top:18px;
}
.lightSliderMinValue {
	min-width: 24px;
	min-height:24px;
	background:url('images/lightoff.png') no-repeat;
	background-position:left;
	background-size:contain;
}
.tempSliderCurrentValueOval1{
	position:absolute;
	top:0;
	left: 339px;
	border: 3px solid rgba(51,51,51,0.10);
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius: 50%;
	height:60px;
	width:60px;
	opacity:1;
}

.tempSliderCurrentValueOval2{
	position:absolute;
	top:-2px;
	left: 336px;
	border: 4px solid #FFFFFF;
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius: 50%;
	height:65px;
	width:65px;
	opacity:1;
}

.tempSliderMaxValue, .lightSliderMaxValue {
	position:absolute;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: left;
	right:20px;
	top:18px;
}

.lightSliderMaxValue {
	min-width: 24px;
	min-height:24px;
	background:url('images/lightoff.png') no-repeat;
	background-position:left;
	background-size:contain;
}

.popupControls {
	position:absolute;
	bottom: -85px;
	left:0;
	min-width:630px;
	display: -webkit-flex; 
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.controlButton {
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px; 
	border-radius: 20px;
	font-size: 18px;
	color: #000000;
	letter-spacing: 0;
	text-align: center;
	min-width:307px;
	padding: 21px 92px 20px 92px;
}

.applyControls {
	background-color:#FFD93E;
	margin-right:16px;
}

.closeControls {
	background-color:#FFFFFF;
}

.device-name, .scenario-name {
	font-size: 14px;
	color: #333333;
	letter-spacing: 0;
	text-align: left;
	padding:0;
	margin:0;
}

.device-state {
	font-family: Arial;
	font-size: 12px;
	color: #858585;
	letter-spacing: 0.01px;
	text-align: left;
	margin:0;
}

footer {
	position: fixed;
	top:92%;
	height:64px;
	padding: 22px 36px 27px 40px;
}

.footerlink {
	font-size: 12px;
	color: #858585;
	letter-spacing: 0.01px;
	margin-right:20px;
}

.copyright {
	float:right;
	display:inline;
	font-size: 12px;
	color: #858585;
	letter-spacing: 0.01px;
	margin-left:1000px;
}