@media screen and (max-width: 978px) {
	.content {
		padding:0 20px 0 20px;
		margin-top:64px;
	}
	
	.icon-menu {	
		display:inline-block;
		min-width: 16px;
		min-height:13.1px;
		background:url('images/icon_list_m.png') no-repeat;
		background-position:left;
		background-size:contain;
	}
	
	.home-navbar{
		border-style: none;
		height:51px;
		padding:12px 20px 14px 20px;
	}
	
	.opened-menu {
		height: 80px;
	}
	
	.home-navbar-button {
		position:absolute;
		right:20px;
		top:24.3px;
		cursor:pointer;
	}	
	
	.hidden-mobile {
		display:none;
	}
	
	.home-navbar-menu {
		display: -webkit-flex; 
		-webkit-flex-direction: column;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top:5px;
		background-color:white;
		width:100%;
	}
	
	.firstrow {
		display: -webkit-flex; 
		-webkit-flex-direction: column;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
		
	.main-panel {
		width:100% !important;
		height:282px;
		background-size:cover;
		margin-top:0;
		padding-top:21px;
		padding-right:0;
		-moz-border-radius: 20px; 
		-webkit-border-radius: 20px; 
		border-radius: 20px;
	}
	
	.main-data {
		display: -webkit-flex; 
		-webkit-flex-direction: column;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-heigth:280px;
	}
	
	.greeting{
		font-size: 18px;
		margin-top:0;
	}

	.general-info {
		font-size: 12px;
	}
	
	.where {
		font-size: 12px;
	}
		
	.tempval {
		font-size: 24px;
		margin-bottom:20px;
	}
	
	.device-block {
		display: -webkit-flex; 
		-webkit-flex-direction: row;
		display: flex;
		flex-direction: row;
		overflow-x: auto;
		overflow-y: hidden;
		position:relative;
		width:100%;
		height:120px;
		margin-top:20px;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
	.device-block::-webkit-scrollbar{
		display:none;
	}
	
	.favscenarios {
		margin-top: 31px;
		margin-left: 0;
	}
	
	.scenarios {	
		display: -webkit-flex;
		-webkit-flex-wrap: nowrap; 
		display:flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
	
	.scenarios::-webkit-scrollbar {	
		display: none;
		
	}
	
	.devicelinkToggler {
		display: -webkit-flex; 
		-webkit-flex-direction: column;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.hiddenDevicelink {
		display:none;
	}
	
	.chosenDeviceLink {
		padding: 7px 31px 8px 16px;
	}
	
	.devicelink {
		padding:5px;
		padding-right:20px;
		cursor:pointer;
	}
	
	.downicon {
		position:absolute;
		bottom:10px;
		right:20px;
		display:inline-block;
		min-width: 10px !important;
		min-height:7px !important;
		background:url('images/down.png') no-repeat;
		background-size:contain;
	}
	
	.devices {
		overflow-x: auto;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
	
	.devices::-webkit-scrollbar  {
		display:none;
	}
	
	
	.popup-device-panel {
		height:492px;
		width:334px;
		position:fixed;
		top:-81px;
		left:5.6%;
		z-index:2500;
	}
	
	.popupview {
		padding: 21px 0 20px 20px;
	}

	.popupHeader {
		font-size: 18px;
	}

	.popupState {
		font-size: 12px;
	}

	.popupIcon {
		display:none;
	}

	.popupButtonPanel {
		margin-top:15px;
		white-space:nowrap;
		padding-top:10px;
		height:45px;
		overflow-x:auto;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}

	.popupButtonPanel::-webkit-scrollbar {
		display:none;
	}
	
	.popupButton {
		font-size: 13px;
		margin-right: 10px;
		height:30px;
		padding:13px;
	}
	.activeButton {
		background-color:#FFD93E;
	}
	.popupControls {
		position:absolute;
		bottom: -150px;
		left:0;
		min-width:334px;
		-webkit-flex-direction: column;
		flex-direction: column;
	}

	.controlButton {
		-moz-border-radius: 20px; 
		-webkit-border-radius: 20px; 
		border-radius: 20px;
		font-size: 18px;
		color: #000000;
		letter-spacing: 0;
		text-align: center;
		width:334px;
		height:60px;
		padding: 21px 92px 20px 92px;
	}

	.closeControls {
		margin-top:15px;
	}
	footer {
		position: relative;
	}
	
	.footerlink {
		margin-right:10px;
	}
	
	.copyright {
		margin-left:0;
	}
}